<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <!-- ここから -->
      <div class="planTable">

        <div class="background">
          <div class="container">
            <div class="panel pricing-table">
              
              <div class="pricing-plan">
                <img src="{{section.settings.image_onePerson | img_url: '1920x'}}" alt="" class="pricing-img">
                <h2 class="pricing-header">{{section.settings.onePerson}}</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item">1日プラン</li>
                  <li class="pricing-features-item">{{section.settings.full_time}}</br>{{section.settings.full_time_description}}</li>
                </ul>
                <span class="pricing-price">{{section.settings.price_onePerson}}</span>
                <a href="{{section.settings.url_onePerson}}" class="pricing-button is-featured">予約する</a>
              </div>
              <div class="pricing-plan">
                <img src="{{section.settings.image_secondPerson | img_url: '1920x'}}" alt="" class="pricing-img">
                <h2 class="pricing-header">{{section.settings.secondPerson}}</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item">1日プラン</li>
                  <li class="pricing-features-item">{{section.settings.full_time}}</br>{{section.settings.full_time_description}}</li>
                </ul>
                <span class="pricing-price">{{section.settings.price_secondPerson}}</span>
                <a href="{{section.settings.url_onePerson}}" class="pricing-button is-featured">予約する</a>
              </div>
              <div class="pricing-plan">
                <img src="{{section.settings.image_thirdPerson | img_url: '1920x'}}" alt="" class="pricing-img">
                <h2 class="pricing-header">{{section.settings.thirdPerson}}</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item">1日プラン</li>
                  <li class="pricing-features-item">{{section.settings.full_time}}</br>{{section.settings.full_time_description}}</li>
                </ul>
                <span class="pricing-price">{{section.settings.price_thirdPerson}}</span>
                <a href="{{section.settings.url_onePerson}}" class="pricing-button is-featured">予約する</a>
              </div>
                          
            </div>
          </div>
        </div>

      </div>
      <!-- ここまで -->

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "編集",
  "settings": [
      {
          "type": "text",
          "id": "onePerson",
          "default": "1名様",
          "label": "人数"
      },
      {
          "type": "text",
          "id": "price_onePerson",
          "default": "35,000円(税込)",
          "label": "料金"
      },
      {
          "type": "image_picker",
          "id": "image_onePerson",
          "label": "写真"
      },
      {
          "type": "url",
          "id": "url_onePerson",
          "label": "ボタン"
      },
      {
          "type": "text",
          "id": "full_time",
          "default": "ガイド時間 約8時間",
          "label": "ガイド時間"
      },
      {
          "type": "text",
          "id": "full_time_description",
          "default": "目安:7時~17時（お昼休憩1時間含む）",
          "label": "目安"
      },
      {
          "type": "text",
          "id": "secondPerson",
          "default": "2名様",
          "label": "人数"
      },
      {
          "type": "text",
          "id": "price_secondPerson",
          "default": "42,000円(税込)",
          "label": "料金"
      },
      {
          "type": "image_picker",
          "id": "image_secondPerson",
          "label": "写真"
      },
      {
          "type": "text",
          "id": "thirdPerson",
          "default": "3名様",
          "label": "人数"
      },
      {
          "type": "text",
          "id": "price_thirdPerson",
          "default": "51,000円(税込)",
          "label": "料金"
      },
      {
          "type": "image_picker",
          "id": "image_thirdPerson",
          "label": "写真"
      }
  ]
}
{% endschema %}