<div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
        <!-- ここから -->
        <div class="half">
   
          <!-- <div class="tab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one">{{section.settings.question}}</label>
            <div class="tab-content">
              <p>{{section.settings.answer}}</p>
            </div>
          </div> -->
         
          <div class="tab">
            <input id="tab1" type="checkbox" name="tabs">
            <label for="tab1">Q 初心者でも大丈夫？</label>
            <div class="tab-content">
              <p>なすびガイドでは初心者の方も多く来られます！大歓迎です！</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab2" type="checkbox" name="tabs">
            <label for="tab2">Q どうやってやり取りするの？LINE？メール？</label>
            <div class="tab-content">
              <p>電話、SNS（ダイレクトメッセージ）、LINE、メールでのやりとりが可能です。<a href="https://yachi-store.myshopify.com/pages/contact" class="qa-btn">こちら</a></p>
            </div>
          </div>
          
          <div class="tab">
            <input id="tab3" type="checkbox" name="tabs">
            <label for="tab3">Q ガイド購入した後に、スケジュールをあわせるの？</label>
            <div class="tab-content">
              <p>電話もしくはSMS（ショートメール）で購入から1日以内に連絡させていただきます。</br>
                もし連絡がなかったら、誠に申し訳ないですが、お問い合わせフォーム、もしくは各種SNSより連絡ください。</p>
            </div>
          </div>

          <div class="tab">
            <input id="tab4" type="checkbox" name="tabs">
            <label for="tab4">Q いつガイドが空いてるかってどこでわかるの？</label>
            <div class="tab-content">
              <p>ブログに最新情報を載せてあります。<a href="https://yachi-store.myshopify.com/pages/%E6%9C%80%E6%96%B0%E3%81%AE%E4%BA%88%E7%B4%84%E7%8A%B6%E6%B3%81" class="qa-btn">こちら</a></p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab5" type="checkbox" name="tabs">
            <label for="tab5">Q キャンセル料金はかかるの？</label>
            <div class="tab-content">
              <p>基本的にキャンセル料金は頂いておりませんが、前日のみキャンセルされた場合、料金の半分を頂いております。</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab6" type="checkbox" name="tabs">
            <label for="tab6">Q 何人まで船に乗れるの？</label>
            <div class="tab-content">
              <p class="text-left">お客様は３名様まで乗船可能です。(定員が自分合わせて４人になります。)</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab7" type="checkbox" name="tabs">
            <label for="tab7">Q 持ち物はなにがいるの？</label>
            <div class="tab-content">
              <p>
                ＊帽子（安全の為）,偏光グラス（安全の為）</br>
                ＊レインウェア（晴れた日も必要）</br>
                ＊飲み物（必ず）</br>
                ＊保険証（万が一怪我した時の為）</br>
                ＊着替え ルアー、タックル（無料貸し出しも可能）</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab8" type="checkbox" name="tabs">
            <label for="tab8">Q お支払い方法は？</label>
            <div class="tab-content">
              <p>クレジットカード、現金のどれかでお支払いが可能です。</br>
                現金の場合は当日お支払いになります。</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab9" type="checkbox" name="tabs">
            <label for="tab9">Q 何時にどこにいけばいいの？</label>
            <div class="tab-content">
              <p>季節によって変わります。</br>
                ３〜11月は7時集合</br>
                １２〜2月は8時集合となります。</br>
                <a href="https://www.google.com/maps/place/MIC+BASS+CLUB/@35.081796,135.894387,5639m/data=!3m1!1e3!4m5!3m4!1s0x0:0x50754833a6286f07!8m2!3d35.0817964!4d135.8943865?hl=ja" class="qa-btn">マリーナ　ミックバスクラブに集合です。</a></p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab10" type="checkbox" name="tabs">
            <label for="tab10">Q 昼ごはんってどうすればいいの？</label>
            <div class="tab-content">
              <p>持ち込みもしくは、湖上沿いにあるレストランに上陸。どちらかをゲストさんに選んで頂いております。</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab11" type="checkbox" name="tabs">
            <label for="tab11">Q 船酔いは結構しますか？</label>
            <div class="tab-content">
              <p>船酔いされる方はあまりおりませんが、心配な方は酔い止め薬を飲んできてください。</br>
                こちらでも用意するので心配な方は言ってください。</p>
            </div>
          </div>
          <a href="{{section.settings.url_reservation}}" class="reservation-button is-reservation">予約する</a>
          <a href="{{section.settings.url_plan}}" class="reservation-button is-reservation">料金を確認する</a>

          <!-- <div class="tab">
            <input id="tab12" type="checkbox" name="tabs">
            <label for="tab12">Q Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab-for" type="checkbox" name="tabs">
            <label for="tab-for">Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab-for" type="checkbox" name="tabs">
            <label for="tab-for">Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab-for" type="checkbox" name="tabs">
            <label for="tab-for">Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab-for" type="checkbox" name="tabs">
            <label for="tab-for">Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab-for" type="checkbox" name="tabs">
            <label for="tab-for">Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div>
         
          <div class="tab">
            <input id="tab-for" type="checkbox" name="tabs">
            <label for="tab-for">Label Three</label>
            <div class="tab-content">
              <p>Label Three 内コンテンツ</p>
            </div>
          </div> -->
         
        </div>      
        <!-- ここまで -->
        </div>
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
  
{% schema %}
{
    "name": "よくある質問",
    "settings": [
        {
            "type": "text",
            "id": "question",
            "label": "質問"
        },
        {
            "type": "text",
            "id": "answer",
            "label": "答え"
        },
        {
          "type": "url",
          "id": "url_reservation",
          "label": "予約ボタン"
        },
        {
          "type": "url",
          "id": "url_plan",
          "label": "料金確認ボタン"
        }
      ]
}
{% endschema %}
